<a href="https://colab.research.google.com/github/divyansh1122/ml-basics/blob/main/linearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import housing dataset from github
!curl -H 'Authorization: token 8cd7d53e5ba481a744e92e7b60de0c332faaa361' -o housing.csv https://raw.githubusercontent.com/divyansh1122/ml-basics/blob/main/linear_regression/data/housing.csv

In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [ ]:
# Load the Boston Housing Data set from sklearn.datasets
from sklearn.datasets import load_boston
boston = load_boston()
print(boston.data.shape)
print(boston)
# dictionary like object

In [35]:
print(boston.keys())
print(boston.DESCR)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [10]:
# Transform the data set into a data frame
# From the dictionary like object - we found the following keys - data (x values), target (y values), feature_names (col names), DESCR (description)


df_x = pd.DataFrame(boston.data, columns=boston.feature_names)

df_y = pd.DataFrame(boston.target)

In [11]:
# Get some statistics from the data set like count, mean

df_x.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [15]:
# Initialize the linear regression model

lm = linear_model.LinearRegression()

In [16]:
# Split the data into 67% training and 33% testing data

# random_state is the seed for random number generator
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.33, random_state=42)

In [18]:
# Train (fit) the model with our training data

lm.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
# Print the co-efficients / weights for each feature/column of our model

print(lm.coef_)

[[-1.28749718e-01  3.78232228e-02  5.82109233e-02  3.23866812e+00
  -1.61698120e+01  3.90205116e+00 -1.28507825e-02 -1.42222430e+00
   2.34853915e-01 -8.21331947e-03 -9.28722459e-01  1.17695921e-02
  -5.47566338e-01]]

In [ ]:
# Print the predictions on our test data
y_pred = lm.predict(x_test)
print(y_pred)

In [ ]:
# Print the true values
print(y_test)

In [25]:
# Check the model performance / accuracy using Mean Squared Error (MSE)
print(np.mean((y_pred - y_test)**2))
# lower the better

0    20.724023
dtype: float64

In [28]:
# Check the model performance / accuracy using Mean Squared Error (MSE) and sklearn.metrics
from sklearn.metrics import mean_squared_error

print(mean_squared_error(y_test, y_pred))

20.724023437339717

RMSE answers the question: "How similar, on average, are the numbers in list1 to list2?"
![RIq96.png]()



```
def rmse(predictions, targets):

    differences = predictions - targets                       #the DIFFERENCEs.

    differences_squared = differences ** 2                    #the SQUAREs of ^

    mean_of_differences_squared = differences_squared.mean()  #the MEAN of ^

    rmse_val = np.sqrt(mean_of_differences_squared)           #ROOT of ^

    return rmse_val                                           #get the ^
```

In [29]:
# Check the model performance / accuracy using Root Mean Squared Error (RMSE) and sklearn.metrics

print(mean_squared_error(y_test, y_pred, squared=False))

4.552364598463058

In [39]:
# model evaluation for testing set

from sklearn import metrics
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = metrics.mean_squared_error(y_test, y_pred, squared=False)
r2 = metrics.r2_score(y_test, y_pred)

print("The model performance for testing set")
print("--------------------------------------")
print('MAE is {}'.format(mae))
print('MSE is {}'.format(mse))
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))

The model performance for testing set
--------------------------------------
MAE is 3.148255754816823
MSE is 20.724023437339717
RMSE is 4.552364598463058
R2 score is 0.7261570836552481

Mean absolute error is 3.14 which shows that our algorithm is not that accurate, but it can still make good predictions. 

The value of the mean squared error is 20.72 which shows that we have some outliers.

The R2  score is 0.72 and it shows that our model doesnâ€™t fit data very well because it cannot explain all the variance.